name = "vclmulh.vv"
format = "vd,vs2,vs1,vm"

[tests]
base = [
    [0x0, 0x0],
    [0x1, 0x2],
    [0x3, 0xf]
]
sew64 = [
    ["0xffffffffffff8000", "0x0000000000000000"],
    ["0xffffffff80000000", "0x0000000000000000"],
    ["0xffffffff80000000", "0xffffffffffff8000"],
    ["0x0000000000007fff", "0x0000000000000000"],
    ["0x000000007fffffff", "0x0000000000007fff"],
    ["0xffffffff80000000", "0x0000000000007fff"],
    ["0x000000007fffffff", "0xffffffffffff8000"],
    ["0xffffffffffffffff", "0x0000000000000001"],
    ["0xffffffffffffffff", "0x0000000000000000"],
    ["0xffffffffffffffff", "0xffffffffffffffff"]
]
